<div ng-controller="FormController">
<h2>Forms</h2>
<ul class="nav nav-tabs">
<li role="presentation" class="active"><a href="form.view.html">Forms</a></li>
<li role="presentation"><a href="../field/field.view.html">Fields</a></li>
</ul>
<h3></h3>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
<tr>
	<th>
		<a href="#">
			<scan class="glyphicon glyphicon-triangle-bottom"></scan>
		</a>
		Form Name
	</th>
	<th>
		<a href="#">
			<scan class="glyphicon glyphicon-triangle-bottom"></scan>
		</a>
		Action
	</th>
</tr>
<tr>
	<td><input ng-model="form.formName" id="formname" class="form-control" type="text" name="formname" placeholder="name"/></td>
	<td style="white-space: nowrap">
	<a ng-click="addForm()" class="btn btn-primary">
		<scan class="glyphicon glyphicon-plus"></scan>
	</a>
	<a ng-click="updateForm()" class="btn btn-success">
		<scan class="glyphicon glyphicon-ok"></scan>
	</a>
	</td>
</tr>
</thead>
<tbody>
<tr>
	<tr ng-repeat="form in forms">
		<td>{{form.formName}}</td>
		<td>
			<a ng-click="deleteForm($index)" class="btn btn-danger">
				<scan class="glyphicon glyphicon-remove"></scan>
			</a>
			<a ng-click="selectForm($index)" class="btn btn-warning">
				<scan class="glyphicon glyphicon-pencil"></scan>
			</a>
		</td>
	</tr>
</tr>
</tbody>
</table>
</div>